<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.cloud.account.dao.MerchantCompanyMapper">
  <resultMap id="BaseResultMap" type="com.shfc.cloud.account.domain.MerchantCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contacter" jdbcType="VARCHAR" property="contacter" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="licence_code" jdbcType="VARCHAR" property="licenceCode" />
    <result column="licence_img_url" jdbcType="VARCHAR" property="licenceImgUrl" />
    <result column="audit_status" jdbcType="BIT" property="auditStatus" />
    <result column="audit_fail_reason" jdbcType="VARCHAR" property="auditFailReason" />
    <result column="registration_time" jdbcType="TIMESTAMP" property="registrationTime" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, contacter, phone, licence_code, licence_img_url, audit_status, audit_fail_reason,
    registration_time, creater, create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    开发负责人：liaozm
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select
    <include refid="Base_Column_List" />
    from merchant_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    开发负责人：liaozm
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    delete from merchant_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.cloud.account.domain.MerchantCompany" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into merchant_company (id, name, contacter,
    phone, licence_code, licence_img_url,
    audit_status, audit_fail_reason, registration_time,
    creater, create_time, modifier,
    modify_time, version)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{contacter,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{licenceCode,jdbcType=VARCHAR}, #{licenceImgUrl,jdbcType=VARCHAR},
    #{auditStatus,jdbcType=BIT}, #{auditFailReason,jdbcType=VARCHAR}, #{registrationTime,jdbcType=TIMESTAMP},
    #{creater,jdbcType=BIGINT}, now(), #{modifier,jdbcType=BIGINT},
    #{modifyTime,jdbcType=TIMESTAMP}, 0)
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.cloud.account.domain.MerchantCompany" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into merchant_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="contacter != null">
        contacter,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="licenceCode != null">
        licence_code,
      </if>
      <if test="licenceImgUrl != null">
        licence_img_url,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditFailReason != null">
        audit_fail_reason,
      </if>
      <if test="registrationTime != null">
        registration_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contacter != null">
        #{contacter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="licenceCode != null">
        #{licenceCode,jdbcType=VARCHAR},
      </if>
      <if test="licenceImgUrl != null">
        #{licenceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=BIT},
      </if>
      <if test="auditFailReason != null">
        #{auditFailReason,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null">
        #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.cloud.account.domain.MerchantCompany">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update merchant_company
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contacter != null">
        contacter = #{contacter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="licenceCode != null">
        licence_code = #{licenceCode,jdbcType=VARCHAR},
      </if>
      <if test="licenceImgUrl != null">
        licence_img_url = #{licenceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=BIT},
      </if>
      <if test="auditFailReason != null">
        audit_fail_reason = #{auditFailReason,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null">
        registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.cloud.account.domain.MerchantCompany">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update merchant_company
    set name = #{name,jdbcType=VARCHAR},
    contacter = #{contacter,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    licence_code = #{licenceCode,jdbcType=VARCHAR},
    licence_img_url = #{licenceImgUrl,jdbcType=VARCHAR},
    audit_status = #{auditStatus,jdbcType=BIT},
    audit_fail_reason = #{auditFailReason,jdbcType=VARCHAR},
    registration_time = #{registrationTime,jdbcType=TIMESTAMP},
    creater = #{creater,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modifier = #{modifier,jdbcType=BIGINT},
    modify_time = now(),
    version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from merchant_company
    order by create_time desc
  </select>
</mapper>